    @media (max-width: 900px) {
        body {
            /* NAVBAR */
            ul {
                .tooltip .tooltip_text {
                    width: 40vw;
                }
            }
            header,
            section,
            footer {
                height: 100vh;
                text-align: center;
                .separator {
                    width: 5px;
                }
                span {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    color: transparent;
                    padding: 0;
                    margin: 0;
                    font-size: 0.5em;
                    img {
                        width: 35vw;
                        margin: 0 auto;
                    }
                }
                h1 {
                    margin: 1vh auto;
                    font-size: 4em;
                }
                h2 {
                    font-size: 1.5em;
                    width: 80vw;
                    text-align: center;
                }
                .title {
                    h2 {
                        width: 80vw;
                        font-size: 1em;
                    }
                    p {
                        width: 80vw;
                        font-size: 1em;
                    }
                }
                article {
                    display: block !important;
                }
            }
            .savoir-etre {
                article {
                    width: 70vw;
                    font-size: 0.9em;
                    div {
                        width: 100%;
                        img {
                            width: 25vw;
                        }
                        p {
                            margin-top: 0;
                        }
                    }
                }
            }
            .cv {
                img {
                    width: 40vw;
                }
                a {
                    button {
                        font-size: 2.5em;
                    }
                }
            }
            .contact {
                form {
                    width: 80vw;
                    button {
                        height: 10vh;
                        padding: 0;
                    }
                }
            }
            .projects {
                article {
                    div {
                        height: 50vh;
                        div {
                            a {
                                font-size: 2.5em;
                            }
                            h4 {
                                font-size: 2.3em;
                            }
                            p {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
            footer {
                height: auto;
            }
        }
    }