@font-face {
  font-family: 'Lovelo';
  src: url("../assets/font/Lovelo Line Light.otf"); }
@font-face {
  font-family: 'Lovelo-black';
  src: url("../assets/font/Lovelo Line Bold.otf"); }
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  background: linear-gradient(135deg, black 0%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  body header {
    background-color: #a90329; }
  body header,
  body section {
    height: 75vh;
    background-image: url(../assets/imgs/rainbow-circle.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Roboto"; }
    body header .separator,
    body section .separator {
      opacity: 0.4;
      width: 3px;
      height: 25vh;
      background-color: #a90329;
      margin: 0vh auto 0vh auto; }
    body header span,
    body section span {
      padding: 3vh;
      width: 50vw;
      font-size: 1.5vw;
      letter-spacing: 1vw;
      text-align: right;
      text-transform: uppercase; }
      body header span img,
      body section span img {
        width: 5vw;
        vertical-align: bottom;
        margin: 0 1vw; }
    body header h1,
    body section h1 {
      font-family: "Lovelo-Black";
      font-size: 7vw;
      letter-spacing: 1vw;
      margin: 1vh; }
    body header h2,
    body section h2 {
      margin: 0;
      width: 30vw;
      text-align: right;
      font-weight: 300;
      font-size: 1.2vw; }
    body header .title,
    body section .title {
      margin: 5vh 0 5vh 0; }
      body header .title h2,
      body section .title h2 {
        font-weight: 600;
        width: 20vw;
        text-align: center;
        margin: 0vh auto;
        margin-bottom: 1.5vh;
        font-size: 1.5vw; }
      body header .title p,
      body section .title p {
        width: 30vw;
        text-align: center;
        margin: 0vh auto;
        line-height: 3vh; }
  body .present {
    height: auto;
    background-image: url(../assets/imgs/rainbow-circle2.svg);
    font-weight: 300;
    background-position: top center;
    background-size: 100%; }
    body .present .separator {
      opacity: 0.4;
      width: 3px;
      height: 25vh;
      background-color: #a90329;
      margin: 0vh auto 0vh auto; }
    body .present article {
      width: 50vw;
      display: flex;
      margin: 5vh; }
      body .present article div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 33.33vw; }
        body .present article div img {
          width: 5vw;
          margin: 1vw; }
        body .present article div p {
          width: 90%;
          padding: 2vh 0;
          line-height: inherit; }
  body .parcours-pro {
    height: auto;
    background-image: none;
    background-size: 100%;
    background-position: center top;
    background-color: ghostwhite; }
    body .parcours-pro h2 {
      font-weight: 600;
      width: 20vw;
      text-align: center;
      margin: 0vh auto 1vh auto;
      font-size: 1.5vw;
      color: #111; }
    body .parcours-pro h3 {
      margin-top: 0;
      padding: 20px;
      color: ghostwhite;
      background-color: #a90329; }
    body .parcours-pro p {
      margin: 0;
      padding: 0;
      font-weight: 300;
      color: #111; }
    body .parcours-pro span {
      padding: 0 10px 0 0;
      font-size: 1.3vw;
      font-weight: 300;
      letter-spacing: inherit; }
    body .parcours-pro .timeline-container {
      max-width: 65vw;
      margin: 0 auto; }
      body .parcours-pro .timeline-container p {
        margin: 0;
        padding: 15px 20px;
        font-weight: 300;
        color: whitesmoke; }
      body .parcours-pro .timeline-container .timeline-item {
        position: relative; }
        body .parcours-pro .timeline-container .timeline-item:before {
          content: '';
          display: block;
          clear: both; }
        body .parcours-pro .timeline-container .timeline-item:after {
          content: '';
          display: block;
          clear: both; }
        body .parcours-pro .timeline-container .timeline-item div:first-child {
          background: #a90329;
          width: 3px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 49.9%;
          opacity: 0.4; }
        body .parcours-pro .timeline-container .timeline-item div:last-child {
          width: 45%;
          background: #111;
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
          background-color: #111; }
          body .parcours-pro .timeline-container .timeline-item div:last-child:before {
            content: '';
            position: absolute;
            left: 45%;
            top: 20px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #111; }
        body .parcours-pro .timeline-container .timeline-item .right {
          float: right; }
      body .parcours-pro .timeline-container #timeline .timeline-item .timeline-content.right:before {
        content: '';
        right: 45%;
        left: inherit;
        border-left: 0;
        border-right: 7px solid #111; }
  body .techno {
    height: auto;
    background-image: url(../assets/imgs/rainbow-circle2.svg);
    font-weight: 300;
    background-position: bottom; }
    body .techno article {
      width: 55vw;
      display: flex; }
      body .techno article div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 20vw; }
  body .projects {
    height: auto;
    background-color: #a90329;
    background-image: url(../assets/imgs/rainbow-circle4.svg);
    font-weight: 300;
    background-position: top;
    background-size: cover; }
    body .projects article {
      display: block;
      min-width: 65vw;
      max-width: 80vw; }
      body .projects article div {
        width: 49%;
        height: 250px;
        margin: 0.2vh auto;
        display: inline-block;
        vertical-align: top;
        position: relative;
        background-color: white; }
        body .projects article div div {
          width: 100%;
          height: 100%;
          background-color: #222;
          opacity: 0; }
          body .projects article div div h4 {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 5vh 0;
            width: 20%;
            text-align: center;
            background-color: #111;
            border-right: 3px solid white; }
            body .projects article div div h4 a {
              text-decoration: none;
              color: white; }
          body .projects article div div p {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 5vh 2vw;
            width: 80.5%;
            text-align: center;
            background-color: #111;
            border-left: 3px solid white; }
          body .projects article div div:hover {
            opacity: 1; }

/*# sourceMappingURL=style.css.map */
