@charset "UTF-8";
@font-face {
  font-family: 'Lovelo';
  src: url("../assets/font/Lovelo Line Light.otf"); }
@font-face {
  font-family: 'Lovelo-black';
  src: url("../assets/font/Lovelo Line Bold.otf"); }
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  background: linear-gradient(135deg, black 0%, #333333 100%);
  /* HEDEAR ET SECTION BASIQUE */
  /* SAVOIR ÊTRE */
  /* TELECHARGER CV */
  /* TECHNO */
  /* LES PROJETS */
  /* CONTACT */
  /* FOOTER */ }
  body .nav {
    position: fixed;
    right: 0; }
  body .nav [type=checkbox] {
    display: none; }
  body .list-none {
    list-style: none; }
  body .floating-li > li {
    display: inline-block; }
  body .hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    background-color: transparent; }
  body .hamburger span {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: easen-in-out;
    transition-duration: 0.4s;
    transition-delay: 1200ms;
    transition-property: width height transform;
    background-image: url(../assets/imgs/icons/shapes.svg);
    background-size: 50%; }
  body .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: none;
    position: relative;
    margin: 0;
    padding: 0 96px;
    transform-origin: calc(100vw - 48px) 48px;
    transform: scale(0);
    transition-property: height transform border-radius;
    transition-delay: 980ms;
    transition-duration: 0.34s;
    color: whitesmoke;
    font-size: 1.75rem;
    font-weight: 100; }
  body .menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 36px;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.8s 500ms; }
  body .menu li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 1em; }
    body .menu li a:hover {
      color: #FA6900; }
  @media screen and (min-height: 26rem) {
    body .menu li:first-child {
      margin-top: 200px; } }
  @media screen and (min-height: 26rem) {
    body .menu li:last-child {
      margin-bottom: 200px; } }
  body [type=checkbox]:checked ~ label ~ .menu {
    height: 100vh;
    border-radius: 0;
    transform: scale(1);
    transition-property: height transform border-radius;
    transition-delay: 50ms;
    transition-duration: 0.4s; }
  body [type=checkbox]:checked ~ label ~ .menu li {
    opacity: 1;
    transition-delay: 600ms; }
  body header {
    background-color: #FA6900; }
  body header,
  body section,
  body footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    font-family: "Roboto";
    color: whitesmoke;
    /* separator section */
    /* fin separator section */
    /* titre section */
    /* fin titre section */ }
    body header .separator,
    body section .separator,
    body footer .separator {
      height: 25vh;
      width: 3px;
      background-color: #FA6900;
      margin: 0vh auto 0vh auto;
      opacity: 0.4; }
    body header .separator-black,
    body section .separator-black,
    body footer .separator-black {
      background-color: #111; }
    body header span,
    body section span,
    body footer span {
      width: 50vw;
      padding: 3vh;
      font-size: 1.5vw;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1vw; }
      body header span img,
      body section span img,
      body footer span img {
        width: 5vw;
        margin: 0 1vw;
        vertical-align: bottom; }
    body header h1,
    body section h1,
    body footer h1 {
      margin: 1vh;
      font-family: "Lovelo-Black";
      font-size: 7vw;
      letter-spacing: 1vw; }
    body header h2,
    body section h2,
    body footer h2 {
      width: 30vw;
      margin: 0;
      font-size: 1.2vw;
      text-align: right;
      font-weight: 300; }
    body header .title,
    body section .title,
    body footer .title {
      margin: 5vh 0 5vh 0; }
      body header .title h2,
      body section .title h2,
      body footer .title h2 {
        width: 20vw;
        margin: 0vh auto;
        margin-bottom: 1.5vh;
        font-size: 1.5vw;
        text-align: center;
        font-weight: 600; }
      body header .title p,
      body section .title p,
      body footer .title p {
        width: 30vw;
        margin: 0vh auto;
        text-align: center;
        font-weight: 300;
        line-height: 3vh; }
    body header article,
    body section article,
    body footer article {
      display: flex;
      width: 55vw; }
      body header article div,
      body section article div,
      body footer article div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20vw;
        text-align: center; }
  body .savoir-etre {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    background-image: url(../assets/imgs/rainbow-circle4.svg);
    background-attachment: fixed;
    font-weight: 300; }
    body .savoir-etre article {
      display: flex;
      width: 50vw;
      margin: 5vh; }
      body .savoir-etre article div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33vw;
        text-align: center; }
        body .savoir-etre article div img {
          width: 5vw;
          margin: 1vw; }
        body .savoir-etre article div p {
          width: 90%;
          padding: 2vh 0;
          line-height: inherit; }
  body .cv {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    background-image: none;
    background-color: #009EAD; }
    body .cv img {
      width: 13vw; }
    body .cv a button {
      height: 100px;
      width: 100px;
      background-color: #FA6900;
      margin: 3vh 0 1vh 0;
      font-size: 1.5vw;
      text-decoration: none;
      color: whitesmoke;
      border: 0;
      border-radius: 100%;
      cursor: pointer; }
      body .cv a button:hover {
        background-color: #111; }
    body .cv h4 {
      margin: 1vh 0 5vh 0; }
  body .techno {
    height: auto;
    background-image: url(../assets/imgs/rainbow-circle2.svg);
    background-size: cover;
    background-attachment: fixed;
    font-weight: 300; }
    body .techno article {
      display: flex;
      width: 55vw; }
      body .techno article div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20vw;
        text-align: center; }
  body .projects {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    background-color: #FA6900;
    background-image: none;
    font-weight: 300; }
    body .projects article {
      display: block; }
      body .projects article #bowling {
        background-image: url(../assets/imgs/projets/bowling.png); }
      body .projects article #giant {
        background-image: url(../assets/imgs/projets/tinygiant.png); }
      body .projects article #bose {
        background-image: url(../assets/imgs/projets/bose.png); }
      body .projects article #branded {
        background-image: url(../assets/imgs/projets/branded.png); }
      body .projects article #dots {
        background-image: url(../assets/imgs/projets/dots.png); }
      body .projects article #veto {
        background-image: url(../assets/imgs/projets/123veto.png); }
      body .projects article #audio {
        background-image: url(../assets/imgs/projets/audio.png); }
      body .projects article #bootstrap {
        background-image: url(../assets/imgs/projets/boostrap.png); }
      body .projects article #pomodoro {
        background-image: url(../assets/imgs/projets/pomodoro.png); }
      body .projects article #poney {
        background-image: url(../assets/imgs/projets/poney.png); }
      body .projects article #quizz {
        background-image: url(../assets/imgs/projets/quizz.png); }
      body .projects article #pastime {
        background-image: url(../assets/imgs/projets/pastime.png); }
      body .projects article #create {
        background-image: url(../assets/imgs/projets/create.png); }
      body .projects article div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 400px;
        width: 47%;
        margin: 1vh 0.5vw;
                 /*
                    filter: saturate(0%);
*/ }
        body .projects article div div {
          background-color: rgba(18, 18, 18, 0.8);
          height: 100%;
          width: 100%;
          margin: 0;
          opacity: 0; }
          body .projects article div div a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: transparent;
            height: 20%;
            width: 100%;
            bottom: 0;
            border-top: 3px solid #FA6900;
            font-size: 2vw;
            text-decoration: none;
            font-weight: 600;
            color: whitesmoke; }
          body .projects article div div h4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: whitesmoke;
            height: 30%;
            width: 100%;
            margin: 0;
            padding: 0 0;
            top: 0;
            font-size: 3vw;
            text-align: center;
            border-bottom: 10px solid #FA6900; }
            body .projects article div div h4 a {
              bottom: inherit;
              border-top: 0;
              color: #111; }
          body .projects article div div p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: #009EAD;
            height: 50%;
            width: 100%;
            margin: 0;
            padding: 0vh 2vw;
            top: 30%;
            right: 0;
            text-align: center; }
          body .projects article div div:hover {
            opacity: 1; }
  body .contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/imgs/rainbow-circle3.svg);
    background-attachment: fixed;
    background-color: #111; }
    body .contact img {
      width: 10vw; }
    body .contact .title {
      margin-bottom: 2vh; }
    body .contact p {
      margin-bottom: 5vh;
      font-weight: 300; }
      body .contact p a {
        background-color: whitesmoke;
        padding: 0.5vw;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        color: #FA6900; }
        body .contact p a:hover {
          background-color: #111;
          color: whitesmoke; }
    body .contact h4 {
      margin: 1vh 0 5vh 0; }
  body footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    background-image: none;
    background-color: #009EAD; }
    body footer div {
      margin: 5vh 0 1vh 0; }
      body footer div a {
        text-decoration: none;
        color: whitesmoke; }
      body footer div i {
        padding: 1vw 1vw 2vh 1vw; }
    body footer p {
      margin: 0 0 5vh 0;
      font-weight: 300; }
    body footer .separator {
      height: 8vh; }

/*# sourceMappingURL=style.css.map */
